appdirs==1.4.4
autopep8==1.6.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cssselect==1.1.0
fake-useragent==0.1.11
Flask==2.0.3
idna==3.3
importlib-metadata==4.11.2
itsdangerous==2.1.0
Jinja2==3.0.3
lxml==4.8.0
MarkupSafe==2.1.0
parse==1.19.0
pycodestyle==2.8.0
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
toml==0.10.2
tqdm==4.63.0
urllib3==1.26.8
w3lib==1.22.0
websockets==10.2
Werkzeug==2.0.3
zipp==3.7.0
